<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

@{
    ViewData["Title"] = "Card";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="~/js/CardToggleBoxVisibility.js"></script>

<ipts-checkbox name="checkbox"></ipts-checkbox>


<p style="font-size:12px"> Test 1 Card Checkbox</p>
<ipts-cardtile HeaderTitle="Tree"
               TextDescription="Tree with leaves"
               CardSourceList="ViewBag.CardSource1List"
               ButtonType="Checkbox">
</ipts-cardtile>


<p style="font-size:12px"> Test 1 Card Checkbox</p>
<ipts-cardtile HeaderTitle="Tree"
               TextDescription="Tree with leaves"
               CardSourceList="ViewBag.CardSource1List"
               ButtonType="Checkbox">
</ipts-cardtile>

<p style="font-size:12px"> Test 2 Card Checkbox</p>
<ipts-cardtile HeaderTitle="Tree"
               TextDescription="Tree with leaves"
               CardSourceList="ViewBag.CardSource2List"
               ButtonType="Checkbox">
</ipts-cardtile>


<p style="font-size:12px"> Test 3 Card Checkbox</p>

<ipts-cardtile HeaderTitle="Tree"
               TextDescription="Tree with leaves"
               CardSourceList="ViewBag.CardSource3List"
               ButtonType="Checkbox">
</ipts-cardtile>

<p style="font-size:12px"> Test 4 Card Tookit</p>

<ipts-cardtile HeaderTitle="Tree"
               TextDescription="Tree with leaves"
               CardSourceList="ViewBag.CardSource4List"
               ButtonType="Toolkit">
</ipts-cardtile>

<br />
Test 5 Card
<br />


<ipts-cardtile HeaderTitle="Tree"
               TextDescription="Tree with leaves"
               CardSourceList="ViewBag.CardSource5List"
               ButtonType="Checkbox">
</ipts-cardtile>


<br />
Test 6 Card
<br />


<ipts-cardtile HeaderTitle="Tree"
               TextDescription="Tree with leaves"
               CardSourceList="ViewBag.CardSource6List"
               ButtonType="Checkbox">
</ipts-cardtile>

<p style="font-size:12px"> Test 2 Card Stretch</p>

<ipts-cardtile HeaderTitle="Tree"
               TextDescription="Tree with leaves"
               CardSourceList="ViewBag.CardSource2List"
               ButtonType="Toolkit"
               CardWidth="400">
</ipts-cardtile>


